body, html {
  background-color: #DDD;
  color: white;
  min-width: 320px; }

.white-bg {
  background-color: #F6F6F6; }

#start-screen {
  width: 100%; }

.main-header {
  background-color: #2c457c;
  padding-top: 30px;
  padding-bottom: 30px; }

.siteLink {
  padding-top: 10px;
  padding-bottom: 10px; }
  .siteLink__link {
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    font-size: 0.8em; }
    .siteLink__link:hover {
      color: white; }
  .siteLink__link--grey {
    color: #777; }
    .siteLink__link--grey:hover {
      color: #777; }

.contacts {
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }
  .contacts__phoneIcon {
    margin-right: 10px;
    color: white; }
    .contacts__phoneIcon--grey {
      color: #777; }
  .contacts__tel {
    color: white;
    font-weight: bold; }
    .contacts__tel:hover {
      text-decoration: none;
      color: white; }
    .contacts__tel--grey {
      color: #777; }
      .contacts__tel--grey:hover {
        color: #777; }

.logoContainer--center {
  text-align: center; }

.logoContainer__mainLogo {
  height: 120px;
  width: auto; }

.h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  color: #8698bf; }

.userContainer {
  height: auto; }
  .userContainer--inHeader {
    margin-top: 30px;
    float: right; }
  .userContainer__userItem {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .userContainer__userItem--chat {
      margin-bottom: 15px; }
    .userContainer__userItem__avatar img {
      height: 50px;
      width: auto;
      -webkit-border-radius: 25px;
              border-radius: 25px; }
    .userContainer__userItem__contacts {
      margin-left: 15px; }
      .userContainer__userItem__contacts__name {
        color: #8698bf;
        font-size: 1em; }
      .userContainer__userItem__contacts__subdivision {
        color: #8698bf;
        font-size: 0.75em; }

.main {
  margin-top: 40px; }
  .main--start-page {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100%;
    height: 100%; }

.buttonContainer {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
  -webkit-align-items: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  border-bottom: 1px solid #304d89;
  margin-top: -40px;
  margin-bottom: 40px; }
  .buttonContainer a {
    color: #2c457c; }
    .buttonContainer a:hover {
      color: #2c457c; }
    .buttonContainer a.active {
      background-color: #304d89;
      color: white; }
      .buttonContainer a.active:hover {
        color: white;
        cursor: default;
        text-decoration: none; }
  .buttonContainer__line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 1px;
    min-height: 100%;
    background-color: #304d89; }

.flat-button {
  text-align: center;
  width: 50%;
  color: #555;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px; }
  .flat-button:hover {
    color: #555; }
  .flat-button:focus, .flat-button:hover {
    color: #555;
    outline: none; }

.message-container {
  background-color: #e5e5e5;
  color: #555;
  height: 380px;
  margin-top: 30px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border-bottom: 1px solid #BBB;
  padding: 15px;
  overflow-y: auto; }
  .message-container__incMessage {
    width: auto;
    float: left;
    width: 80%;
    text-align: left;
    margin-bottom: 10px; }
    .message-container__incMessage__text {
      display: inline-block;
      background-color: white;
      color: #333;
      padding: 5px;
      -webkit-border-radius: 4px;
              border-radius: 4px; }
  .message-container__outMessage {
    float: right;
    width: 80%;
    text-align: right;
    margin-bottom: 10px; }
    .message-container__outMessage__text {
      display: inline-block;
      background-color: #8698bf;
      color: white;
      padding: 5px;
      -webkit-border-radius: 4px;
              border-radius: 4px; }

.contacts-container {
  background-color: #e5e5e5;
  color: #555;
  height: 380px;
  margin-top: 30px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border-bottom: 1px solid #BBB;
  padding: 15px;
  overflow-y: auto; }

.write-container {
  background-color: #e5e5e5;
  color: #555;
  height: 100px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  overflow-y: auto; }

#message-input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100%;
  resize: none;
  border: none;
  color: #333;
  padding: 15px;
  overflow-y: auto; }
  #message-input:focus {
    outline: none; }

.smail-container {
  background-color: #e5e5e5;
  color: #555;
  height: 100px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  padding: 15px;
  overflow-y: auto; }

form.form-horizontal {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2em;
  margin-bottom: 40px; }
  form.form-horizontal input {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: solid #8698bf 1px;
    -webkit-border-radius: 0px;
            border-radius: 0px;
    color: #8698bf;
    font-size: 1em;
    padding: 10px;
    font-weight: 500; }
    form.form-horizontal input:focus {
      background-color: rgba(255, 255, 255, 0);
      border: none;
      border-bottom: solid #8698bf 1px;
      -webkit-border-radius: 0px;
              border-radius: 0px;
      -webkit-box-shadow: none;
              box-shadow: none;
      color: #8698bf; }
    form.form-horizontal input::-webkit-input-placeholder {
      color: #DDD; }
    form.form-horizontal input::-moz-placeholder {
      color: #DDD; }
    form.form-horizontal input:-ms-input-placeholder {
      color: #DDD; }
    form.form-horizontal input::-ms-input-placeholder {
      color: #DDD; }
    form.form-horizontal input::placeholder {
      color: #DDD; }
    form.form-horizontal input[type="submit"] {
      border: 1px solid white;
      cursor: pointer;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 15px;
      font-size: 0.85em;
      font-weight: bold;
      color: white;
      -webkit-transition: 0.25s;
      -o-transition: 0.25s;
      transition: 0.25s;
      -webkit-border-radius: 2px;
              border-radius: 2px; }
      form.form-horizontal input[type="submit"]:hover {
        color: #666;
        background-color: white;
        border: 1px solid white; }
      form.form-horizontal input[type="submit"].blue {
        color: #8698bf;
        border: 1px solid #8698bf; }
        form.form-horizontal input[type="submit"].blue:hover {
          background-color: #8698bf;
          color: white; }
      form.form-horizontal input[type="submit"].blue-rev {
        background-color: #8698bf;
        border: 1px solid #8698bf;
        color: white; }
        form.form-horizontal input[type="submit"].blue-rev:hover {
          background-color: rgba(255, 255, 255, 0);
          color: #8698bf; }
  form.form-horizontal textarea {
    -webkit-border-radius: 0;
            border-radius: 0;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    color: #555;
    font-size: 1.05em;
    resize: none;
    padding: 10px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    font-weight: 500; }
    form.form-horizontal textarea:focus {
      background-color: rgba(255, 255, 255, 0.8);
      -webkit-box-shadow: none;
              box-shadow: none;
      border: none;
      color: #555; }
    form.form-horizontal textarea::-webkit-input-placeholder {
      color: #929292; }
    form.form-horizontal textarea::-moz-placeholder {
      color: #929292; }
    form.form-horizontal textarea:-ms-input-placeholder {
      color: #929292; }
    form.form-horizontal textarea::-ms-input-placeholder {
      color: #929292; }
    form.form-horizontal textarea::placeholder {
      color: #929292; }

.prop-container {
  color: #373737; }

#pers-info, #proposal {
  color: #555555; }
  #pers-info .h2, #proposal .h2 {
    margin-bottom: 30px; }
    #pers-info .h2--center, #proposal .h2--center {
      text-align: center; }

#pers-info .avatar-container {
  height: 200px;
  width: auto;
  text-align: center;
  margin-bottom: 30px; }
  #pers-info .avatar-container .avatar {
    -webkit-border-radius: 100px;
            border-radius: 100px;
    height: 100%;
    width: auto;
    border: 2px solid #8698bf; }

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border: none !important; }

.user-info .table tbody tr th:last-child {
  font-weight: 400; }

.table-wrapper-props {
  text-align: center; }
  .table-wrapper-props thead {
    border-bottom: 1px solid #8698bf; }
  .table-wrapper-props tbody tr {
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    cursor: pointer; }
    .table-wrapper-props tbody tr:hover {
      background-color: #8698bf;
      color: white; }
    .table-wrapper-props tbody tr th {
      font-weight: 400; }

.main-footer {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #2c457c;
  color: #8698bf; }

.button {
  display: inline-block;
  border: none;
  color: #fff;
  text-decoration: none;
  background-color: #333;
  padding: 15px 45px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  text-align: center;
  position: relative;
  outline: none;
  -webkit-transition: background-color .1s ease;
  -o-transition: background-color .1s ease;
  transition: background-color .1s ease;
  cursor: pointer; }
  .button::after {
    -webkit-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    transition: background-color .2s ease;
    position: absolute;
    content: '';
    height: 4px;
    bottom: 0;
    width: 100%;
    background-color: black;
    opacity: .18;
    -webkit-border-bottom-left-radius: 2px;
            border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
            border-bottom-right-radius: 2px;
    left: 0; }
  .button:focus, .button:hover {
    text-decoration: none;
    color: #fff;
    outline: none; }
  .button:hover {
    background-color: #333, 5%; }
    .button:hover::after {
      opacity: .22; }
  .button:active {
    background-color: #262626; }
    .button:active::after {
      opacity: .32; }

.mrg-btm-20 {
  margin-bottom: 20px; }

.mrg-btm-40 {
  margin-bottom: 40px; }

.no-padding {
  padding: 0; }

body, html {
  height: 100%; }

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }

.content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.footer {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }
